<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="wettkampf">
      <h2 data-cy="wettkampfDetailsHeading"><span>Wettkampf</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ wettkampf.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ wettkampf.name }}</span>
        </dd>
        <dt><span>Jahr</span></dt>
        <dd>
          <span>{{ wettkampf.jahr | formatMediumDate }}</span>
        </dd>
        <dt><span>Anzahl Runden</span></dt>
        <dd>
          <span>{{ wettkampf.anzahlRunden }}</span>
        </dd>
        <dt><span>Final Runde</span></dt>
        <dd>
          <span>{{ wettkampf.finalRunde }}</span>
        </dd>
        <dt><span>Anzahl Passen</span></dt>
        <dd>
          <span>{{ wettkampf.anzahlPassen }}</span>
        </dd>
        <dt><span>Anzahl Passen Final</span></dt>
        <dd>
          <span>{{ wettkampf.anzahlPassenFinal }}</span>
        </dd>
        <dt><span>Anzahl Team</span></dt>
        <dd>
          <span>{{ wettkampf.anzahlTeam }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/wettkampf', wettkampf.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
