<tui-loader [overlay]="true" [showLoader]="!isDataAvailable">
  <div *ngIf="result && competition">
    <div class="modal-header">
      <div *ngIf="result.round !== 99" class="modal-title tui-text_h4">{{ result.athlete?.name }} {{ result.round }}. Runde</div>
      <div *ngIf="result.round == 99" class="modal-title tui-text_h4">{{ result.athlete?.name }} Finalrunde</div>

      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>

    <div class="modal-body">
      <div class="tui-container">
        <span class="tui-text_body-l">Hinweis: Mouchen als 11 eingeben</span>
        <br />
        <form [formGroup]="testForm">
          <br />
          <span class="tui-text_h6">1. Passe Resultat: {{ getSumSeries(1) }}</span>
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number1"> 1</tui-input-number>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number2"> 2</tui-input-number>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number3"> 3</tui-input-number>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number4"> 4</tui-input-number>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number5"> 5</tui-input-number>
            </div>
          </div>
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number6"> 6</tui-input-number>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number7"> 7</tui-input-number>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number8"> 8</tui-input-number>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number9"> 9</tui-input-number>
            </div>
            <div class="tui-form__multi-field">
              <tui-input-number [min]="0" [max]="11" formControlName="number10"> 10</tui-input-number>
            </div>
          </div>
          <br />
          <div class="tui-text_h6">Gesamtresultat: {{ getSum() }}</div>
        </form>
      </div>
    </div>

    <div class="modal-footer">
      <button (click)="cancel()" tuiButton type="button" appearance="greyButton" class="tui-space_right-3 tui-space_bottom-3">
        Abbrechen
      </button>
      <button (click)="save()" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
        Speichern
      </button>
    </div>
  </div>
</tui-loader>
