<form *ngIf="competition">
  <h4 class="tui-form__header tui-form__header_margin-top_none">
    <span>{{ competition.name + ' ' + competition.year }}</span>

    <div class="d-flex justify-content-end">
      <button (click)="print()" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
        Drucken
      </button>
    </div>
  </h4>

  <div class="container"></div>

  <div *ngIf="this.rankingList !== null && this.rankingList !== undefined">
    <div class="example-container1">
      <h2>Rangliste</h2>

      <div
        (cdkDropListDropped)="drop($event)"
        *ngIf="this.rankingList.athleteResultList !== undefined"
        [cdkDropListData]="this.rankingList.athleteResultList"
        cdkDropList
        class="example-list table-responsive"
      >
        <table aria-describedby="page-heading" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rang</th>
              <th scope="col">Name</th>
              <th scope="col">Vorname</th>
              <th scope="col">Wohnort</th>
              <th scope="col">Jahrgang</th>
              <th colspan="5" scope="col"></th>
              <th colspan="5" scope="col">Tiefschüsse</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Passe 1</th>
              <th>Passe 2</th>
              <th>Passe 3</th>
              <th>Passe 4</th>
              <th>Resultat</th>
              <th class="w3-center">10</th>
              <th class="w3-center">9</th>
              <th class="w3-center">8</th>
              <th class="w3-center">7</th>
              <th class="w3-center">M</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let athlete of this.rankingList.athleteResultList; let i = index" cdkDrag>
              <td>
                <strong>{{ i + 1 }}</strong>
              </td>
              <td>{{ athlete.athlete?.name }}</td>
              <td>{{ athlete.athlete?.firstName }}</td>
              <td>{{ athlete.athlete?.club?.name }}</td>
              <td>{{ athlete.athlete?.yearOfBirth }}</td>
              <td>{{ athlete.resultRound1Serie1 }}</td>
              <td>{{ athlete.resultRound1Serie2 }}</td>
              <td>{{ athlete.resultRound1Serie3 }}</td>
              <td>{{ athlete.resultRound1Serie4 }}</td>
              <td>
                <strong>{{ athlete.result }}</strong>
              </td>
              <td>{{ athlete.t10 }}</td>
              <td>{{ athlete.t9 }}</td>
              <td>{{ athlete.t8 }}</td>
              <td>{{ athlete.t7 }}</td>
              <td>{{ athlete.t11 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
