<div>
  <h2 id="page-heading" data-cy="ResultateHeading">
    <span>Resultates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-resultate"
        [routerLink]="['/resultate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Resultate </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="resultates?.length === 0">
    <span>No resultates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="resultates && resultates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="runde"><span>Runde</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="resultat"><span>Resultat</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passe1.id"><span>Passe 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passe2.id"><span>Passe 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passe3.id"><span>Passe 3</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="passe4.id"><span>Passe 4</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gruppe.name"><span>Gruppe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="schuetze.name"><span>Schuetze</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="wettkampf.name"><span>Wettkampf</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultate of resultates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/resultate', resultate.id, 'view']">{{ resultate.id }}</a>
          </td>
          <td>{{ resultate.runde }}</td>
          <td>{{ resultate.resultat }}</td>
          <td>
            <div *ngIf="resultate.passe1">
              <a [routerLink]="['/passen', resultate.passe1?.id, 'view']">{{ resultate.passe1?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resultate.passe2">
              <a [routerLink]="['/passen', resultate.passe2?.id, 'view']">{{ resultate.passe2?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resultate.passe3">
              <a [routerLink]="['/passen', resultate.passe3?.id, 'view']">{{ resultate.passe3?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resultate.passe4">
              <a [routerLink]="['/passen', resultate.passe4?.id, 'view']">{{ resultate.passe4?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resultate.gruppe">
              <a [routerLink]="['/gruppen', resultate.gruppe?.id, 'view']">{{ resultate.gruppe?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resultate.schuetze">
              <a [routerLink]="['/schuetze', resultate.schuetze?.id, 'view']">{{ resultate.schuetze?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="resultate.wettkampf">
              <a [routerLink]="['/wettkampf', resultate.wettkampf?.id, 'view']">{{ resultate.wettkampf?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/resultate', resultate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/resultate', resultate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(resultate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="resultates && resultates.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
