<div>
  <h2 id="page-heading" data-cy="WettkampfHeading">
    <span>Wettkampfs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wettkampf"
        [routerLink]="['/wettkampf/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Wettkampf </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wettkampfs?.length === 0">
    <span>No wettkampfs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wettkampfs && wettkampfs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Jahr</span></th>
          <th scope="col"><span>Anzahl Passen</span></th>
          <th scope="col"><span>Team</span></th>
          <th scope="col"><span>Template</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wettkampf of wettkampfs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wettkampf', wettkampf.id, 'view']">{{ wettkampf.id }}</a>
          </td>
          <td>{{ wettkampf.name }}</td>
          <td>{{ wettkampf.jahr | formatMediumDate }}</td>
          <td>{{ wettkampf.anzahlPassen }}</td>
          <td>{{ wettkampf.team }}</td>
          <td>{{ wettkampf.template }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wettkampf', wettkampf.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wettkampf', wettkampf.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(wettkampf)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
