<div>
  <h2 id="page-heading" data-cy="WettkampfHeading">
    <span>Wettkampfs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-wettkampf"
        [routerLink]="['/wettkampf/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Wettkampf </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wettkampfs?.length === 0">
    <span>No wettkampfs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="wettkampfs && wettkampfs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id">
            <span>ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name">
            <span>Name</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jahr">
            <span>Jahr</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="anzahlRunden">
            <span>Anzahl Runden</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="anzahlPassen">
            <span>Anzahl Passen</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="finalRunde">
            <span>Final Runde</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="finalVorbereitung">
            <span>Final Vorbereitung</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="anzahlFinalteilnehmer">
            <span>Anzahl Finalteilnehmer</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="anzahlPassenFinal">
            <span>Anzahl Passen Final</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="anzahlTeam">
            <span>Anzahl Team</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="template">
            <span>Template</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wettkampf of wettkampfs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/wettkampf', wettkampf.id, 'view']">{{ wettkampf.id }}</a>
          </td>
          <td>{{ wettkampf.name }}</td>
          <td>{{ wettkampf.jahr }}</td>
          <td>{{ wettkampf.anzahlRunden }}</td>
          <td>{{ wettkampf.anzahlPassen }}</td>
          <td>{{ wettkampf.finalRunde }}</td>
          <td>{{ wettkampf.finalVorbereitung }}</td>
          <td>{{ wettkampf.anzahlFinalteilnehmer }}</td>
          <td>{{ wettkampf.anzahlPassenFinal }}</td>
          <td>{{ wettkampf.anzahlTeam }}</td>
          <td>{{ wettkampf.template }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/wettkampf', wettkampf.id, 'rangierung']"
                class="btn btn-success btn-sm"
                data-cy="entityRangierungButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Rangierung</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wettkampf', wettkampf.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/wettkampf', wettkampf.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(wettkampf)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="wettkampfs && wettkampfs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
