<div class="tui-container">
  <tui-notification status="warning" class="tui-space_top-4" *ngIf="initialized && !key">
    <strong>Passwortkey fehlt.</strong>
  </tui-notification>
  <tui-notification status="warning" class="tui-space_top-4" *ngIf="key && !success">
    <span>Wähle ein neues Passwort</span>
  </tui-notification>
  <tui-notification status="error" class="tui-space_top-4" *ngIf="error">
    <span>Ihr Passwort konnte nicht zurückgesetzt werden. Das Zurücksetzen ist nur während 24 Stunden möglich.</span>
  </tui-notification>
  <tui-notification status="success" class="tui-space_top-4" *ngIf="success">
    <span><strong>Ihr Passwort wurde zurückgesetzt.</strong> Bitte </span>
    <a class="alert-link" routerLink="/login">einloggen</a>.
  </tui-notification>
  <tui-notification status="error" class="tui-space_top-4" *ngIf="doNotMatch">
    Das Passwort und die Bestätigung des Passworts stimmen nicht überein!
  </tui-notification>
  <br />
  <div *ngIf="key && !success">
    <form [formGroup]="passwordForm" (ngSubmit)="finishReset()">
      <div class="tui-row tui-row_sme justify-content-center">
        <div class="tui-col_8">
          <h4 class="tui-form__header tui-form__header_margin-top_none">Passwort zurücksetzen</h4>

          <div class="tui-form__row">
            <tui-input-password formControlName="newPassword"> Neues Passwort </tui-input-password>
          </div>
          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required"> Passwort wird benötigt. </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              Passwort muss mindestens 4 Zeichen lang sein.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              Passwort kann nicht länger als 50 Zeichen lang sein.
            </small>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          <div class="tui-form__row">
            <tui-input-password formControlName="confirmPassword"> Passwort bestätigen </tui-input-password>
          </div>
          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              Passwortbestätigung ist erforderlich.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              Passwortbestätigung muss mindestens 4 Zeichen lang sein.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              Passwortbestätigung kann nicht länger als 50 Zeichen lang sein.
            </small>
          </div>
          <div class="tui-form__row">
            <button
              tuiButton
              type="submit"
              [disabled]="passwordForm.invalid"
              appearance="customButton"
              class="tui-space_right-3 tui-space_bottom-3"
            >
              Passwort zurücksetzen
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
