<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-resultate-heading" data-cy="ResultateCreateUpdateHeading">Create or edit a Resultate</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_runde">Runde</label>
          <input type="number" class="form-control" name="runde" id="field_runde" data-cy="runde" formControlName="runde" />
          <div *ngIf="editForm.get('runde')!.invalid && (editForm.get('runde')!.dirty || editForm.get('runde')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('runde')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('runde')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_resultat">Resultat</label>
          <input type="number" class="form-control" name="resultat" id="field_resultat" data-cy="resultat" formControlName="resultat" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_passe1">Passe 1</label>
          <select class="form-control" id="field_passe1" data-cy="passe1" name="passe1" formControlName="passe1">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="passenOption.id === editForm.get('passe1')!.value?.id ? editForm.get('passe1')!.value : passenOption"
              *ngFor="let passenOption of passe1sCollection; trackBy: trackPassenById"
            >
              {{ passenOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_passe2">Passe 2</label>
          <select class="form-control" id="field_passe2" data-cy="passe2" name="passe2" formControlName="passe2">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="passenOption.id === editForm.get('passe2')!.value?.id ? editForm.get('passe2')!.value : passenOption"
              *ngFor="let passenOption of passe2sCollection; trackBy: trackPassenById"
            >
              {{ passenOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_passe3">Passe 3</label>
          <select class="form-control" id="field_passe3" data-cy="passe3" name="passe3" formControlName="passe3">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="passenOption.id === editForm.get('passe3')!.value?.id ? editForm.get('passe3')!.value : passenOption"
              *ngFor="let passenOption of passe3sCollection; trackBy: trackPassenById"
            >
              {{ passenOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_passe4">Passe 4</label>
          <select class="form-control" id="field_passe4" data-cy="passe4" name="passe4" formControlName="passe4">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="passenOption.id === editForm.get('passe4')!.value?.id ? editForm.get('passe4')!.value : passenOption"
              *ngFor="let passenOption of passe4sCollection; trackBy: trackPassenById"
            >
              {{ passenOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_gruppe">Gruppe</label>
          <select class="form-control" id="field_gruppe" data-cy="gruppe" name="gruppe" formControlName="gruppe">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="gruppenOption.id === editForm.get('gruppe')!.value?.id ? editForm.get('gruppe')!.value : gruppenOption"
              *ngFor="let gruppenOption of gruppensSharedCollection; trackBy: trackGruppenById"
            >
              {{ gruppenOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_schuetze">Schuetze</label>
          <select class="form-control" id="field_schuetze" data-cy="schuetze" name="schuetze" formControlName="schuetze">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="schuetzeOption.id === editForm.get('schuetze')!.value?.id ? editForm.get('schuetze')!.value : schuetzeOption"
              *ngFor="let schuetzeOption of schuetzesSharedCollection; trackBy: trackSchuetzeById"
            >
              {{ schuetzeOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_wettkampf">Wettkampf</label>
          <select class="form-control" id="field_wettkampf" data-cy="wettkampf" name="wettkampf" formControlName="wettkampf">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="wettkampfOption.id === editForm.get('wettkampf')!.value?.id ? editForm.get('wettkampf')!.value : wettkampfOption"
              *ngFor="let wettkampfOption of wettkampfsSharedCollection; trackBy: trackWettkampfById"
            >
              {{ wettkampfOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
