<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="competition">
      <h2 data-cy="competitionRankingHeading">
        <span>{{ competition.name }} {{ competition.year }} - RankingCriteria</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div cdkDropListGroup>
        <div class="example-container">
          <h2>Verfügbare Kriterien</h2>

          <div
            cdkDropList
            [cdkDropListData]="available"
            class="example-list"
            cdkDropListSortingDisabled
            (cdkDropListDropped)="drop($event)"
          >
            <div class="example-box" *ngFor="let item of available" cdkDrag>{{ item }}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Aktuelle Kriterien</h2>

          <div cdkDropList [cdkDropListData]="used" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of used" cdkDrag>{{ used.indexOf(item) + 1 }}. {{ item }}</div>
          </div>
        </div>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" (click)="save()" class="btn btn-primary"><fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Save</span></button>
    </div>
  </div>
</div>
