<div class="tui-container">
  <h4 class="tui-form__header tui-form__header_margin-top_none">{{ competition.name + ' ' + competition.year }}</h4>

  <div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="d-flex justify-content-center">
    <button
      (click)="exportCompetition(competition)"
      tuiButton
      type="button"
      appearance="customButton"
      class="tui-space_right-3 tui-space_bottom-3"
    >
      Export Competition
    </button>
  </div>
  <div class="d-flex justify-content-center">
    <button
      (click)="createAthlete(competition)"
      tuiButton
      type="button"
      appearance="customButton"
      class="tui-space_right-3 tui-space_bottom-3"
    >
      neuer Schütze erfassen
    </button>
    <button
      (click)="createResult(competition)"
      tuiButton
      type="button"
      appearance="customButton"
      class="tui-space_right-3 tui-space_bottom-3"
    >
      Resultat erfassen
    </button>
    <button
      *jhiHasAnyAuthority="['ROLE_ADMIN']"
      [routerLink]="['/competition', competition.id, 'rankingList']"
      tuiButton
      type="button"
      appearance="customButton"
      class="tui-space_right-3 tui-space_bottom-3"
    >
      Rangliste erstellen
    </button>
  </div>

  <h4 class="tui-form__header tui-form__header_margin-top_none">1. Runde</h4>
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <tr>
        <th scope="col">
          <span>Name</span>
        </th>
        <th scope="col">
          <span>Resultat</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of resultsRound1" data-cy="entityTable">
        <td>{{ result.athlete!.firstName }} {{ result.athlete!.name }}</td>
        <td>{{ result.result }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button
              (click)="openSeriesDialog(result)"
              tuiButton
              type="button"
              appearance="customButton"
              class="tui-space_right-3 tui-space_bottom-3"
            >
              <span class="d-none d-md-inline">Resultat bearbeiten</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h4 class="tui-form__header tui-form__header_margin-top_none">2. Runde</h4>
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <tr>
        <th scope="col">
          <span>Name</span>
        </th>
        <th scope="col">
          <span>Resultat</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of resultsRound2" data-cy="entityTable">
        <td>{{ result.athlete!.firstName }} {{ result.athlete!.name }}</td>
        <td>{{ result.result }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button
              (click)="openSeriesDialog(result)"
              tuiButton
              type="button"
              appearance="customButton"
              class="tui-space_right-3 tui-space_bottom-3"
            >
              <span class="d-none d-md-inline">Resultat bearbeiten</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="d-flex justify-content-center">
    <button
      (click)="createResultFinal(competition)"
      tuiButton
      type="button"
      appearance="customButton"
      class="tui-space_right-3 tui-space_bottom-3"
    >
      Finalresultat erfassen
    </button>
  </div>

  <h4 *ngIf="showFinal" class="tui-form__header tui-form__header_margin-top_none">Final</h4>
  <table *ngIf="showFinal" class="table table-striped" aria-describedby="page-heading">
    <thead>
      <tr>
        <th scope="col">
          <span>Athletennummer</span>
        </th>
        <th scope="col">
          <span>Name</span>
        </th>
        <th scope="col">
          <span>Resultat</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of resultsRound99" data-cy="entityTable">
        <td>{{ result.athleteNumber }}</td>
        <td>{{ result.athlete!.firstName }} {{ result.athlete!.name }}</td>
        <td>{{ result.result }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button
              (click)="openSeriesDialog(result)"
              tuiButton
              type="button"
              appearance="customButton"
              class="tui-space_right-3 tui-space_bottom-3"
            >
              <span class="d-none d-md-inline">Resultat bearbeiten</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
