<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="club">
      <h2 data-cy="clubDetailsHeading"><span>Club</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ club.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ club.name }}</span>
        </dd>
        <dt><span>Association</span></dt>
        <dd>
          <div *ngIf="club.association">
            <a [routerLink]="['/association', club.association?.id, 'view']">{{ club.association?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/club', club.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
