<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="schuetze">
      <h2 data-cy="schuetzeDetailsHeading"><span>Schuetze</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ schuetze.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ schuetze.name }}</span>
        </dd>
        <dt><span>Vorname</span></dt>
        <dd>
          <span>{{ schuetze.vorname }}</span>
        </dd>
        <dt><span>Jahrgang</span></dt>
        <dd>
          <span>{{ schuetze.jahrgang | formatMediumDate }}</span>
        </dd>
        <dt><span>Stellung</span></dt>
        <dd>
          <span>{{ schuetze.stellung }}</span>
        </dd>
        <dt><span>Verein</span></dt>
        <dd>
          <div *ngIf="schuetze.verein">
            <a [routerLink]="['/verein', schuetze.verein?.id, 'view']">{{ schuetze.verein?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/schuetze', schuetze.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
