<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${titleDoc}"></title>
    <bookmarks>
      <bookmark name="Rangliste" href="#rankingList"></bookmark>
    </bookmarks>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body>
    <div class="w3-row">
      <div class="w3-col s9">
        <h2 class="w3-text-blue title-font" th:text="${title}"></h2>
      </div>
      <div class="w3-col s3 w3-center">
        <img class="zsav" src="images/zsav.png" />
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col s9">
        <h3 class="w3-text-blue title-font" th:text="${subTitle}"></h3>
      </div>
      <div class="w3-col s3 w3-center"></div>
    </div>
    <div id="rankingList">
      <div th:if="${not #lists.isEmpty(rangliste.getAthleteResultList())}">
        <table class="w3-table">
          <thead>
            <tr>
              <th colspan="1" class="w3-right-align">Rang</th>
              <th colspan="1">Name</th>
              <th colspan="1">Sektion</th>
              <th colspan="1" class="w3-right-align">Res</th>
              <th colspan="1" class="w3-center">Stlg</th>
              <th colspan="5">Tiefschüsse</th>
              <th colspan="1" class="w3-right-align">Jg</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="w3-center">10</th>
              <th class="w3-center">9</th>
              <th class="w3-center">8</th>
              <th class="w3-center">7</th>
              <th class="w3-center">M</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="athlete : ${rangliste.getAthleteResultList()}">
              <!-- Rang -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-right-align solid"
                th:text="${rangliste.getAthleteResultList().indexOf(athlete) + 1}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-right-align"
                th:text="${rangliste.getAthleteResultList().indexOf(athlete) + 1}"
              ></td>
              <!-- Name -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="solid"
                th:text="${athlete?.getAthlete().getFirstName() + ' ' + athlete?.getAthlete().getName()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                th:text="${athlete?.getAthlete().getFirstName() + ' ' + athlete?.getAthlete().getName()}"
              ></td>
              <!-- Verein -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="solid"
                th:text="${athlete?.getAthlete().getClub().getName()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                th:text="${athlete?.getAthlete().getClub().getName()}"
              ></td>
              <!-- Resultat -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-right-align solid"
                style="font-weight: bold"
                th:text="${athlete?.getResult()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-right-align"
                style="font-weight: bold"
                th:text="${athlete?.getResult()}"
              ></td>
              <!-- Stellung -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-center solid"
                th:text="${athlete?.getAthlete().getPosition().toString().substring(0, 1).toLowerCase()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-center"
                th:text="${athlete?.getAthlete().getPosition().toString().substring(0, 1).toLowerCase()}"
              ></td>
              <!-- T10 -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-center solid"
                th:text="${athlete?.getT10()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-center"
                th:text="${athlete?.getT10()}"
              ></td>
              <!-- T9 -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-center solid"
                th:text="${athlete?.getT9()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-center"
                th:text="${athlete?.getT9()}"
              ></td>
              <!-- T8 -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-center solid"
                th:text="${athlete?.getT8()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-center"
                th:text="${athlete?.getT8()}"
              ></td>
              <!-- T7 -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-center solid"
                th:text="${athlete?.getT7()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-center"
                th:text="${athlete?.getT7()}"
              ></td>
              <!-- T11 -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-center solid"
                th:text="${athlete?.getT11()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-center"
                th:text="${athlete?.getT11()}"
              ></td>
              <!-- Jahrgang -->
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) == 8}"
                class="w3-right-align solid"
                th:text="${athlete?.getAthlete().getYearOfBirth()}"
              ></td>
              <td
                th:if="${(rangliste.getAthleteResultList().indexOf(athlete) + 1) != 8}"
                class="w3-right-align"
                th:text="${athlete?.getAthlete().getYearOfBirth()}"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <footer class="w3-bottom">
      <div class="w3-row">
        <div class="w3-col s4">
          <img class="jus w3-left-align" src="images/jugendundsport.png" />
        </div>
        <div class="w3-col s4">
          <img class="swisslos center" src="images/swisslos.jpg" />
        </div>
        <div class="w3-col s4">
          <p class="w3-right-align" th:text="${date}"></p>
        </div>
      </div>
    </footer>
  </body>
</html>
