<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${titleDoc}"></title>
    <bookmarks>
      <bookmark href="#rankingList" name="Rankinglist"></bookmark>
    </bookmarks>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="w3-row">
      <div class="w3-col s3 w3-center">
        <img class="easv" src="images/easv.jpg" />
      </div>
      <div class="w3-col s6 w3-center">
        <h3 class="w3-text-black w3-center" style="font-size: 30px" th:text="'10m Crossbow'"></h3>
        <h3 class="w3-text-black w3-center title-font" style="font-size: 30px" th:text="${title}"></h3>
        <h3 class="w3-text-black w3-center title-font" style="font-size: 30px" th:text="${subTitle}"></h3>
      </div>
      <div class="w3-col s3 w3-center">
        <img class="iau" src="images/iau.jpg" />
      </div>
    </div>
    <br />
    <div id="rankingList">
      <div th:if="${not #lists.isEmpty(rankingList.getAthleteResultList())}">
        <table class="w3-table">
          <thead>
            <tr>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
              <th colspan="1"></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="athlete : ${rankingList.getAthleteResultList()}">
              <td class="w3-right-align rankinglist-font" th:text="${rankingList.getAthleteResultList().indexOf(athlete) + 1}"></td>
              <td class="rankinglist-font" th:text="${athlete?.getAthlete().getName() + ' ' + athlete.getAthlete().getFirstName()}"></td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'SUI'">
                <img class="nationality" src="images/icons/schweiz.png" />
              </td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'GER'">
                <img class="nationality" src="images/icons/deutschland.png" />
              </td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'AUT'">
                <img class="nationality" src="images/icons/osterreich.png" />
              </td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'FRA'">
                <img class="nationality" src="images/icons/frankreich.png" />
              </td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'CZE'">
                <img class="nationality" src="images/icons/tschechien.png" />
              </td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'BELG'">
                <img class="nationality" src="images/icons/belgien.png" />
              </td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'RUS'">
                <img class="nationality" src="images/icons/russland.png" />
              </td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'NLD'">
                <img class="nationality" src="images/icons/holland.png" />
              </td>
              <td class="w3-right-align" th:if="${athlete?.getAthlete().getNationality().toString()} == 'HUN'">
                <img class="nationality" src="images/icons/ungarn.png" />
              </td>
              <td class="rankinglist-font" th:text="${athlete?.getAthlete().getNationality()}"></td>
              <td class="w3-right-align rankinglist-font" th:text="${athlete?.getResultRound1Serie1()}"></td>
              <td class="w3-right-align rankinglist-font" th:text="${athlete?.getResultRound1Serie2()}"></td>
              <td class="w3-right-align rankinglist-font" th:text="${athlete?.getResultRound1Serie3()}"></td>
              <td class="w3-right-align rankinglist-font" th:text="${athlete?.getResultRound1Serie4()}"></td>
              <td class="w3-right-align rankinglist-font" style="font-weight: bold" th:text="${athlete?.getResultRound1()}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <footer class="w3-bottom">
      <div class="w3-center">
        <div class="rankinglist-font" th:text="'Wil | ' + ${date}"></div>
      </div>
    </footer>
  </body>
</html>
