<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-round-heading" data-cy="RoundCreateUpdateHeading">Create or edit a Round</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_round">Round</label>
          <input type="number" class="form-control" name="round" id="field_round" data-cy="round" formControlName="round" />
          <div *ngIf="editForm.get('round')!.invalid && (editForm.get('round')!.dirty || editForm.get('round')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('round')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('round')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_competition">Competition</label>
          <select class="form-control" id="field_competition" data-cy="competition" name="competition" formControlName="competition">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                competitionOption.id === editForm.get('competition')!.value?.id ? editForm.get('competition')!.value : competitionOption
              "
              *ngFor="let competitionOption of competitionsSharedCollection; trackBy: trackCompetitionById"
            >
              {{ competitionOption.name }} {{ competitionOption.year }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
