<div>
  <h2 id="page-heading" data-cy="RangierungHeading">
    <span>Rangierungs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rangierung"
        [routerLink]="['/rangierung/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Rangierung </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rangierungs?.length === 0">
    <span>No rangierungs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rangierungs && rangierungs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="position"><span>Position</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="rangierungskriterien"><span>Rangierungskriterien</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="wettkampf.name"><span>Wettkampf</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rangierung of rangierungs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rangierung', rangierung.id, 'view']">{{ rangierung.id }}</a>
          </td>
          <td>{{ rangierung.position }}</td>
          <td>{{ rangierung.rangierungskriterien }}</td>
          <td>
            <div *ngIf="rangierung.wettkampf">
              <a [routerLink]="['/wettkampf', rangierung.wettkampf?.id, 'view']">{{ rangierung.wettkampf?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/rangierung', rangierung.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/rangierung', rangierung.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(rangierung)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="rangierungs && rangierungs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
