<form *ngIf="wettkampf">
  <div class="modal-header">
    <h4 class="modal-title">Rangliste generieren für {{ wettkampf.name }} {{ wettkampf.jahr }}</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <div class="container">
      <div *ngFor="let anzahlRunden of [].constructor(wettkampf.anzahlRunden); let i = index">
        <label>
          <input type="checkbox" [value]="i + 1" (change)="onCheckboxChange($event)" />
          {{ i + 1 }}. Runde
        </label>
      </div>
      <div *ngIf="wettkampf.finalRunde">
        <label>
          <input type="checkbox" [value]="99" (change)="onCheckboxChange($event)" />
          Finalrunde
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>
      <button type="submit" class="btn btn-success" (click)="generate()"><fa-icon icon="cogs"></fa-icon>&nbsp;<span>Generate</span></button>
    </div>
  </div>
</form>
