<div *ngIf="competition" class="div-view">
  <div>
    <h1 class="center liveview-title">
      <strong>{{ competition?.name }} {{ competition?.year }}</strong>
    </h1>
    <br />
  </div>

  <div *ngIf="this.rankingListView !== null && this.rankingListView !== undefined">
    <div class="example-container1">
      <div class="example-list table-responsive liveview">
        <table aria-describedby="page-heading" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Name</th>
              <th scope="col">Club</th>
              <th>S1</th>
              <th>S2</th>
              <th>S3</th>
              <th>S4</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let athlete of this.rankingListView; let i = index">
              <td>
                <strong>{{ i + 1 + this.rank }}</strong>
              </td>
              <td>
                <strong>{{ athlete.athlete?.name + ' ' + athlete.athlete?.firstName }}</strong>
              </td>
              <td>{{ athlete.athlete?.club.name }}</td>
              <td>{{ athlete.resultRound1Serie1 }}</td>
              <td>{{ athlete.resultRound1Serie2 }}</td>
              <td>{{ athlete.resultRound1Serie3 }}</td>
              <td>{{ athlete.resultRound1Serie4 }}</td>
              <td>
                <strong>{{ athlete.result }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
