<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="verein">
      <h2 data-cy="vereinDetailsHeading"><span>Verein</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ verein.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ verein.name }}</span>
        </dd>
        <dt><span>Verband</span></dt>
        <dd>
          <div *ngIf="verein.verband">
            <a [routerLink]="['/verband', verein.verband?.id, 'view']">{{ verein.verband?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/verein', verein.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
