<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.activation.title}">Easybow-Konto Aktivierung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.activation.greeting(${user.login})}">Hallo</p>
    <p th:text="#{email.activation.text1}">Ihr Easybow-Konto wurde erstellt, bitte klicken Sie auf die URL unten, um es zu aktivieren:</p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}|})" th:href="${url}" th:text="${url}">Aktivierungslink</a>
    </p>
    <p>
      <span th:text="#{email.activation.text2}">Mit freundlichem Gruss, </span>
      <br />
      <em th:text="#{email.signature}">easybow</em>
    </p>
  </body>
</html>
