<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.activation.title}">Easybow-Konto Erstellung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.activation.greeting(${user.login})}">Hallo</p>
    <p th:text="#{email.creation.text1}">
      Ihr Easybow-Konto wurde erstellt. Bitte klicken Sie auf die untenstehende URL, um darauf zuzugreifen:
    </p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Login Link</a>
    </p>
    <p>
      <span th:text="#{email.activation.text2}">Mit freundlichem Gruss, </span>
      <br />
      <em th:text="#{email.signature}">easybow</em>
    </p>
  </body>
</html>
