<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.reset.title}">Easybow-Konto Password zurücksetzen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.reset.greeting(${user.login})}">Hallo</p>
    <p th:text="#{email.reset.text1}">
      Für Ihr Easybow-Konto wurde ein Passwort-Reset angefordert. Bitte klicken Sie auf die URL unten, um es zurückzusetzen:
    </p>
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}">Login Link</a>
    </p>
    <p>
      <span th:text="#{email.reset.text2}">Mit freundlichen Grüßen, </span>
      <br />
      <em th:text="#{email.signature}">easybow Team.</em>
    </p>
  </body>
</html>
