<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="de">
  <head>
    <title th:text="#{email.updateResultat.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="${result.competition.name} + ' ' +  ${result.competition.year}"></p>
    <p th:text="'Runde: ' + ${result.getRound()}"></p>
    <p th:text="'Schütze: ' + ${result.getAthlete().name}"></p>
    <p th:text="'Passe 1: ' + ${result.getSerie1()}"></p>
    <p th:text="'Passe 2: ' + ${result.getSerie2()}"></p>
    <p th:text="'Passe 3: ' + ${result.getSerie3()}"></p>
    <p th:text="'Passe 4: ' + ${result.getSerie4()}"></p>
    <p th:text="'Resultat: ' + ${result.getResult()}"></p>
  </body>
</html>
