<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="runde">
      <h2 data-cy="rundeDetailsHeading"><span>Runde</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ runde.id }}</span>
        </dd>
        <dt><span>Runde</span></dt>
        <dd>
          <span>{{ runde.runde }}</span>
        </dd>
        <dt><span>Datum</span></dt>
        <dd>
          <span>{{ runde.datum | formatMediumDate }}</span>
        </dd>
        <dt><span>Wettkampf</span></dt>
        <dd>
          <div *ngIf="runde.wettkampf">
            <a [routerLink]="['/wettkampf', runde.wettkampf?.id, 'view']">{{ runde.wettkampf?.name }}{{ runde.wettkampf?.jahr }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/runde', runde.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
