<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-series-heading" data-cy="SeriesCreateUpdateHeading">Create or edit a Series</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p1">P 1</label>
          <input type="number" class="form-control" name="p1" id="field_p1" data-cy="p1" formControlName="p1" />
          <div *ngIf="editForm.get('p1')!.invalid && (editForm.get('p1')!.dirty || editForm.get('p1')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p1')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p1')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p1')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p1')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p2">P 2</label>
          <input type="number" class="form-control" name="p2" id="field_p2" data-cy="p2" formControlName="p2" />
          <div *ngIf="editForm.get('p2')!.invalid && (editForm.get('p2')!.dirty || editForm.get('p2')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p2')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p2')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p2')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p2')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p3">P 3</label>
          <input type="number" class="form-control" name="p3" id="field_p3" data-cy="p3" formControlName="p3" />
          <div *ngIf="editForm.get('p3')!.invalid && (editForm.get('p3')!.dirty || editForm.get('p3')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p3')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p3')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p3')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p3')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p4">P 4</label>
          <input type="number" class="form-control" name="p4" id="field_p4" data-cy="p4" formControlName="p4" />
          <div *ngIf="editForm.get('p4')!.invalid && (editForm.get('p4')!.dirty || editForm.get('p4')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p4')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p4')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p4')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p4')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p5">P 5</label>
          <input type="number" class="form-control" name="p5" id="field_p5" data-cy="p5" formControlName="p5" />
          <div *ngIf="editForm.get('p5')!.invalid && (editForm.get('p5')!.dirty || editForm.get('p5')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p5')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p5')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p5')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p5')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p6">P 6</label>
          <input type="number" class="form-control" name="p6" id="field_p6" data-cy="p6" formControlName="p6" />
          <div *ngIf="editForm.get('p6')!.invalid && (editForm.get('p6')!.dirty || editForm.get('p6')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p6')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p6')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p6')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p6')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p7">P 7</label>
          <input type="number" class="form-control" name="p7" id="field_p7" data-cy="p7" formControlName="p7" />
          <div *ngIf="editForm.get('p7')!.invalid && (editForm.get('p7')!.dirty || editForm.get('p7')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p7')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p7')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p7')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p7')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p8">P 8</label>
          <input type="number" class="form-control" name="p8" id="field_p8" data-cy="p8" formControlName="p8" />
          <div *ngIf="editForm.get('p8')!.invalid && (editForm.get('p8')!.dirty || editForm.get('p8')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p8')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p8')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p8')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p8')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p9">P 9</label>
          <input type="number" class="form-control" name="p9" id="field_p9" data-cy="p9" formControlName="p9" />
          <div *ngIf="editForm.get('p9')!.invalid && (editForm.get('p9')!.dirty || editForm.get('p9')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p9')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p9')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p9')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p9')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_p10">P 10</label>
          <input type="number" class="form-control" name="p10" id="field_p10" data-cy="p10" formControlName="p10" />
          <div *ngIf="editForm.get('p10')!.invalid && (editForm.get('p10')!.dirty || editForm.get('p10')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('p10')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p10')?.errors?.min"> This field should be at least 0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('p10')?.errors?.max"> This field cannot be more than 11. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('p10')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_result">Result</label>
          <input type="number" class="form-control" name="result" id="field_result" data-cy="result" formControlName="result" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
