<div *ngIf="competition" class="div-view">
  <div>
    <h1 class="center liveview-title">
      <strong>{{ competition.name }} {{ competition.year }}</strong>
    </h1>
    <br />
  </div>

  <div *ngIf="this.rankingListView !== null && this.rankingListView !== undefined">
    <div class="example-container1">
      <div class="example-list table-responsive liveview">
        <table aria-describedby="page-heading" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rang</th>
              <th scope="col">Name</th>
              <th scope="col">Verein</th>
              <th scope="col">Jahrgang</th>
              <th>1. Passe</th>
              <th *ngIf="competition.numberOfSeries == 2">2. Passe</th>
              <th>Resultat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of this.rankingListView; let i = index">
              <td>
                <strong>{{ i + 1 + this.rank }}</strong>
              </td>
              <td>
                <strong>{{ result.athlete?.firstName }} {{ result.athlete?.name }}</strong>
              </td>
              <td>{{ result.athlete?.club?.name }}</td>
              <td>{{ result.athlete?.yearOfBirth }}</td>
              <td *ngIf="result.resultFinal !== null">{{ result.resultFinalSerie1 }}</td>
              <td *ngIf="competition.numberOfFinalSeries == 2 && result.resultFinal !== null">{{ result.resultFinalSerie2 }}</td>
              <td *ngIf="result.resultFinal !== null">
                <strong>{{ result.resultFinal }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
