.div-view {
  height: 100%;
}

.center {
  text-align: center;
}

.liveview-title {
  font-size: 4em;
  font-weight: bold;
}

.liveview th {
  font-size: 2em;
}

.liveview td {
  font-size: 3.3em;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-button {
  font-size: 3em;
  font-weight: bold;
}

@media screen and (max-width: 1500px) {
  .div-view {
    height: 100%;
  }
  .liveview-title {
    font-size: 2em;
    font-weight: bold;
  }
  .liveview th {
    font-size: 1em;
  }

  .liveview td {
    font-size: 1em;
  }
  .tab-button {
    font-size: 1em;
    font-weight: bold;
  }
}

@media screen and (max-width: 2500px) {
  .div-view {
    height: 100%;
  }
  .liveview-title {
    font-size: 2em;
    font-weight: bold;
  }
  .liveview th {
    font-size: 1em;
  }

  .liveview td {
    font-size: 1em;
  }
  .tab-button {
    font-size: 1em;
    font-weight: bold;
  }
}
