<form *ngIf="competition">
  <h4 class="tui-form__header tui-form__header_margin-top_none">
    <span>{{ competition.name + ' ' + competition.year }}</span>

    <div class="d-flex justify-content-end">
      <button (click)="print()" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
        Drucken
      </button>
    </div>
  </h4>

  <div class="container">
    <button (click)="generate(1)" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
      1. Runde
    </button>
    <button (click)="generate(2)" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
      2. Runde
    </button>
    <button (click)="generate(100)" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
      Qualifikation Final
    </button>
    <button (click)="generate(99)" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
      Final
    </button>
    <button
      (click)="generate(101)"
      *ngIf="competition.numberOfSeries == 2"
      tuiButton
      type="button"
      appearance="customButton"
      class="tui-space_right-3 tui-space_bottom-3"
    >
      Qualifikation Verbändefinal
    </button>
  </div>

  <div *ngIf="this.rankingList !== null && this.rankingList !== undefined">
    <div class="example-container1">
      <h2>RankingList</h2>

      <div
        (cdkDropListDropped)="drop($event)"
        *ngIf="this.rankingList.athleteResultList !== undefined"
        [cdkDropListData]="this.rankingList.athleteResultList"
        cdkDropList
        class="example-list table-responsive"
      >
        <table aria-describedby="page-heading" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rang</th>
              <th scope="col">Name</th>
              <th scope="col">Jahrgang</th>
              <th scope="col">Resultat</th>
              <th
                *ngIf="competition.numberOfSeries == 1 && (rankingList.type == 1 || rankingList.type == 100 || rankingList.type == 101)"
                colspan="2"
                scope="col"
                style="text-align: center"
              >
                1. Runde
              </th>
              <th
                *ngIf="competition.numberOfSeries == 2 && (rankingList.type == 1 || rankingList.type == 100 || rankingList.type == 101)"
                colspan="3"
                scope="col"
                style="text-align: center"
              >
                1. Runde
              </th>
              <th
                *ngIf="competition.numberOfSeries == 1 && (rankingList.type == 2 || rankingList.type == 100 || rankingList.type == 101)"
                colspan="2"
                scope="col"
                style="text-align: center"
              >
                2. Runde
              </th>
              <th
                *ngIf="competition.numberOfSeries == 2 && (rankingList.type == 2 || rankingList.type == 100 || rankingList.type == 101)"
                colspan="3"
                scope="col"
                style="text-align: center"
              >
                2. Runde
              </th>
              <th
                *ngIf="competition.numberOfSeries == 1 && (rankingList.type == 99 || rankingList.type == 101)"
                colspan="2"
                scope="col"
                style="text-align: center"
              >
                Final
              </th>
              <th
                *ngIf="competition.numberOfSeries == 2 && (rankingList.type == 99 || rankingList.type == 101)"
                colspan="3"
                scope="col"
                style="text-align: center"
              >
                Final
              </th>
              <th colspan="5" scope="col">Tiefschüsse</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th *ngIf="rankingList.type == 1 || rankingList.type == 100 || rankingList.type == 101">1. Passe</th>
              <th *ngIf="competition.numberOfSeries == 2 && (rankingList.type == 1 || rankingList.type == 100 || rankingList.type == 101)">
                2. Passe
              </th>
              <th *ngIf="rankingList.type == 1 || rankingList.type == 100 || rankingList.type == 101">Resultat</th>
              <th *ngIf="rankingList.type == 2 || rankingList.type == 100 || rankingList.type == 101">1. Passe</th>
              <th *ngIf="competition.numberOfSeries == 2 && (rankingList.type == 2 || rankingList.type == 100 || rankingList.type == 101)">
                2. Passe
              </th>
              <th *ngIf="rankingList.type == 2 || rankingList.type == 100 || rankingList.type == 101">Resultat</th>
              <th *ngIf="rankingList.type == 99 || rankingList.type == 101">1. Passe</th>
              <th *ngIf="competition.numberOfFinalSeries == 2 && (rankingList.type == 99 || rankingList.type == 101)">2. Passe</th>
              <th *ngIf="rankingList.type == 99 || rankingList.type == 101">Resultat</th>
              <th class="w3-center">10</th>
              <th class="w3-center">9</th>
              <th class="w3-center">8</th>
              <th class="w3-center">7</th>
              <th class="w3-center">M</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let athlete of this.rankingList.athleteResultList; let i = index" cdkDrag>
              <td>
                <strong>{{ i + 1 }}</strong>
              </td>
              <td>{{ athlete.athlete?.firstName }} {{ athlete.athlete?.name }}</td>
              <td>{{ athlete.athlete?.yearOfBirth }}</td>
              <td>
                <strong>{{ athlete.result }}</strong>
              </td>
              <td *ngIf="athlete.resultRound1 !== null">{{ athlete.resultRound1Serie1 }}</td>
              <td *ngIf="competition.numberOfSeries == 2 && athlete.resultRound1 !== null">{{ athlete.resultRound1Serie2 }}</td>
              <td *ngIf="athlete.resultRound1 !== null">{{ athlete.resultRound1 }}</td>
              <td *ngIf="athlete.resultRound2 !== null">{{ athlete.resultRound2Serie1 }}</td>
              <td *ngIf="competition.numberOfSeries == 2 && athlete.resultRound2 !== null">{{ athlete.resultRound2Serie2 }}</td>
              <td *ngIf="athlete.resultRound2 !== null">{{ athlete.resultRound2 }}</td>
              <td *ngIf="athlete.resultFinal !== null">{{ athlete.resultFinalSerie1 }}</td>
              <td *ngIf="competition.numberOfFinalSeries == 2 && athlete.resultFinal !== null">{{ athlete.resultFinalSerie2 }}</td>
              <td *ngIf="athlete.resultFinal !== null">{{ athlete.resultFinal }}</td>
              <td>{{ athlete.t10 }}</td>
              <td>{{ athlete.t9 }}</td>
              <td>{{ athlete.t8 }}</td>
              <td>{{ athlete.t7 }}</td>
              <td>{{ athlete.t11 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
