<form *ngIf="competition">
  <h4 class="tui-form__header tui-form__header_margin-top_none">
    <span>{{ competition.name + ' ' + competition.year }}</span>

    <div class="d-flex justify-content-end">
      <button (click)="print()" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
        Print
      </button>
    </div>
  </h4>

  <div class="container">
    <button (click)="generate(1)" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
      1. Runde
    </button>
    <button (click)="generate(2)" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
      2. Runde
    </button>
    <button (click)="generate(100)" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
      Qualifikation Final
    </button>
    <button (click)="generate(99)" tuiButton type="button" appearance="customButton" class="tui-space_right-3 tui-space_bottom-3">
      Final
    </button>
  </div>

  <div *ngIf="this.groupRankingList !== null && this.groupRankingList !== undefined">
    <div class="example-container1">
      <h2>Gruppenrangliste</h2>

      <div
        (cdkDropListDropped)="dropGroup($event)"
        *ngIf="this.groupRankingList.groupAthleteResultList !== undefined"
        [cdkDropListData]="this.groupRankingList.groupAthleteResultList"
        cdkDropList
        class="example-list table-responsive"
      >
        <table aria-describedby="page-heading" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rang</th>
              <th scope="col">Group</th>
              <th scope="col">Athlete 1</th>
              <th scope="col">Athlete 2</th>
              <th scope="col">Athlete 3</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let groupAthleteResult of this.groupRankingList.groupAthleteResultList; let i = index" cdkDrag>
              <td>
                <strong>{{ i + 1 }}</strong>
              </td>
              <td>{{ groupAthleteResult.group.name }}</td>
              <td *ngFor="let athleteResult of groupAthleteResult.athleteResultList">{{ athleteResult.result }}</td>
              <td>
                <strong>{{ groupAthleteResult.result }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="this.rankingList !== null && this.rankingList !== undefined">
    <div class="example-container1">
      <h2>Einzelrangliste</h2>

      <div
        (cdkDropListDropped)="drop($event)"
        *ngIf="this.rankingList.athleteResultList !== undefined"
        [cdkDropListData]="this.rankingList.athleteResultList"
        cdkDropList
        class="example-list table-responsive"
      >
        <table aria-describedby="page-heading" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Rang</th>
              <th scope="col">Name</th>
              <th scope="col">FirstName</th>
              <th scope="col">YearOfBirth</th>
              <th colspan="3" scope="col"></th>
              <th colspan="5" scope="col">Deepshots</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Serie 1</th>
              <th>Serie 2</th>
              <th>Result</th>
              <th class="w3-center">10</th>
              <th class="w3-center">9</th>
              <th class="w3-center">8</th>
              <th class="w3-center">7</th>
              <th class="w3-center">M</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let athlete of this.rankingList.athleteResultList; let i = index" cdkDrag>
              <td>
                <strong>{{ i + 1 }}</strong>
              </td>
              <td>{{ athlete.athlete?.name }}</td>
              <td>{{ athlete.athlete?.firstName }}</td>
              <td>{{ athlete.athlete?.yearOfBirth }}</td>
              <td>{{ athlete.resultRound1Serie1 }}</td>
              <td>{{ athlete.resultRound1Serie2 }}</td>
              <td>
                <strong>{{ athlete.result }}</strong>
              </td>
              <td>{{ athlete.t10 }}</td>
              <td>{{ athlete.t9 }}</td>
              <td>{{ athlete.t8 }}</td>
              <td>{{ athlete.t7 }}</td>
              <td>{{ athlete.t11 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
