<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-rangierung-heading" data-cy="RangierungCreateUpdateHeading">Create or edit a Rangierung</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_position">Position</label>
          <input type="number" class="form-control" name="position" id="field_position" data-cy="position" formControlName="position" />
          <div *ngIf="editForm.get('position')!.invalid && (editForm.get('position')!.dirty || editForm.get('position')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('position')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('position')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_rangierungskriterien">Rangierungskriterien</label>
          <select
            class="form-control"
            name="rangierungskriterien"
            formControlName="rangierungskriterien"
            id="field_rangierungskriterien"
            data-cy="rangierungskriterien"
          >
            <option [ngValue]="null"></option>
            <option value="RESULTAT">RESULTAT</option>
            <option value="SERIE">SERIE</option>
            <option value="TIEFSCHUESSE">TIEFSCHUESSE</option>
            <option value="MOUCHEN">MOUCHEN</option>
            <option value="ALTER">ALTER</option>
          </select>
          <div
            *ngIf="
              editForm.get('rangierungskriterien')!.invalid &&
              (editForm.get('rangierungskriterien')!.dirty || editForm.get('rangierungskriterien')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('rangierungskriterien')?.errors?.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_wettkampf">Wettkampf</label>
          <select class="form-control" id="field_wettkampf" data-cy="wettkampf" name="wettkampf" formControlName="wettkampf">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="wettkampfOption.id === editForm.get('wettkampf')!.value?.id ? editForm.get('wettkampf')!.value : wettkampfOption"
              *ngFor="let wettkampfOption of wettkampfsSharedCollection; trackBy: trackWettkampfById"
            >
              {{ wettkampfOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
